@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.slick-slide > div{
  margin: 0 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #a7afb8; 
  border-radius: 10px; 
  border: 2px solid #F1F1F1; 
}

::-webkit-scrollbar-track {
  background-color: #F1F1F1;
  border-radius: 10px;
}


::-webkit-scrollbar-track:hover {
  background-color: #e0e0e0;
}